header {
    background-color: #dadada;
    width: 100%;
    height: 125px;
    position: fixed;
}

#websiteName {
    font-size: 50px;
}

#websiteLogo {
    position: absolute;
    width: 185px;
    right: 15px;
    top: 15px;
    /*background-color: yellow;*/
}

body {
    height: 10000px;
}