header {
    background-color: #921414;
    width: 100%;
    height: 150px;
    position: fixed;
}

#websiteName {
    font-size: 70px;
}

#websiteLogo {
    position: absolute;
    width: 215px;
    right: 15px;
    top: 15px;
}

body {
    height: 10000px;
}